server:
  port: 8090

spring:
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true

          routes:
            - id: accounts-service
              uri: lb://accounts-service
              predicates:
                - Path=/api/accounts/**
              filters:
                - StripPrefix=1

            - id: cash-service
              uri: lb://cash-service
              predicates:
                - Path=/api/cash/**
              filters:
                - StripPrefix=1

            - id: transfer-service
              uri: lb://transfer-service
              predicates:
                - Path=/api/transfer/**
              filters:
                - StripPrefix=1

            - id: notifications-service
              uri: lb://notifications-service
              predicates:
                - Path=/api/notifications/**
              filters:
                - StripPrefix=1

          globalcors:
            cors-configurations:
              "[/**]":
                allowed-origins: "*"
                allowed-methods: [GET, POST, PUT, DELETE, PATCH, OPTIONS]
                allowed-headers: "*"
                # ВАЖНО: нельзя true вместе с "*"
                allow-credentials: false
                max-age: 3600

          default-filters:
            - PreserveHostHeader

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: INFO
